@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
	font-family: 'Roboto', sans-serif;
	padding: 10%;
	line-height: 25px;
}

#webhook-error {
	color: red;
}

input {
	font-family: 'Roboto', sans-serif;
	border: none;
	border-bottom: 1px solid gray;
	display: inline-block;
}

#linear,
#congrats {
	visibility: hidden;
}

#linear-webhook-result {
	color: blue;
}

svg {
	height: 24px;
	width: 24px;
}

input::placeholder {
	color: rgb(186, 186, 186);
}
